@import '@/styles/variables';

.header {
    // позиционирование
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    // стилизация
    padding: 24px 0;
    background-color: $header-bg;
}

.logo {
    // позиционирование
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.navbar {
    // позиционирование
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 48px;

    // стилизация
    list-style-type: none;
}

.navbar-elem-active {
}

.navbarIcons {
    // позиционирование
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;

    // стилизация
    list-style-type: none;
}
