@use '@/styles/variables';

.ktsInputContainer {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    outline: 1px solid variables.$input-border;
    padding: 14px 12px;
    background: variables.$input-bg;
    transition: outline-color 0.3s;

    &:focus-within {
        background-color: variables.$input-bg-focus;
        outline-color: variables.$input-border-focus;
    }

    &.disabled {
        background: variables.$input-bg-disabled;
        outline-color: variables.$input-border-disabled;
        pointer-events: none;
    }

    &.default {
        outline-color: #ccc;
    }

    &.focus {
        outline-color: #4a90e2;
    }
}

.ktsInputField {
    flex: 1;
    border: none;
    outline: none;
    padding: 0;
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
    color: variables.$input-text;
    background: transparent;

    &::placeholder {
        color: variables.$input-placeholder;
    }

    &:disabled {
        color: variables.$input-text-disabled;
    }
}

.ktsInputAfterSlot {
    width: 24px;
    height: 24px;
    margin-left: 8px;
    color: variables.$text-secondary;
}
