@use '@/styles/variables' as *;

.inputWithButton {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 24px;

    button {
        white-space: nowrap;
    }
}

.multiDropdown {
    width: 300px;
    padding-top: 24px;
    padding-bottom: 48px;
}

.totalProducts {
    display: flex;
    align-items: center;
    gap: 24px;

    &__title {
        font-size: 32px;
        line-height: 36px;
        letter-spacing: 0;
        color: $text-primary;
    }

    &__subtitle {
        line-height: 20px;
        letter-spacing: 0;
        color: $text-accent;
    }
}
