@import '@/styles/variables';

button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.ktsBtn {
    padding: 14px 20px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0;
    color: $button-primary-text;
    background-color: $button-primary-bg;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        color: $button-primary-text-hover;
        background-color: $button-primary-bg-hover;
    }

    &.ktsBtnLoading:hover {
        color: $button-primary-text;
        background-color: $button-primary-bg;
    }

    &.ktsBtnDisabled {
        color: $button-primary-text-disabled;
        background-color: $button-primary-bg-disabled;

        &:hover {
            color: $button-primary-text-disabled;
            background-color: $button-primary-bg-disabled;
        }
    }

    .ktsLoader {
        margin-right: 8px;
        fill: $button-primary-text;
    }
}
