.navbar__icon {
    // позиционирование
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;

    // стилизация
    list-style-type: none;
}
