@use '@/styles/variables' as *;

.header {
    border-bottom: 2px solid rgba(243, 243, 243, 1);

    &__content {
        // позиционирование
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;

        // стилизация
        padding: 24px 0;
        background-color: $header-bg;
    }

    &__logo {
        // позиционирование
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }
}
