@use '../../../styles/variables';

.headerWrapper {
    border-bottom: 2px solid rgba(243, 243, 243, 1);
}

.header {
    // позиционирование
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;

    // стилизация
    padding: 24px 0;
    background-color: variables.$header-bg;
}

.logo {
    // позиционирование
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
