@use '@/styles/variables' as *;

.navbar {
    // позиционирование
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 48px;

    // стилизация
    list-style-type: none;
}

.navbar__elem {
    color: $text-primary;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0;

    position: relative;

    a {
        text-decoration: none;
        color: inherit;
    }
}

.navbar__elem_active {
    color: $text-accent;

    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0;
}

.navbar__border_active {
    width: 100%;
    height: 2px;
    background-color: $text-accent;

    position: absolute;
    bottom: -2.9rem;
}
