@use '@/styles/variables';

.multiDropdown {
    position: relative;
    cursor: pointer;
    font-family: sans-serif;

    &Header {
        padding: 12px 14px;
        border: 1px solid #aaa;
        background: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &List {
        position: absolute;
        width: 100%;
        margin-top: 8px;
        padding: 0;
        list-style: none;
        background: variables.$dropdown-options-bg;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
        animation: fadeIn 0.2s ease-out;
    }

    &Item {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0;
        padding: 14px 12px;
        cursor: pointer;
        transition:
            background 0.2s,
            color 0.2s;

        &:hover {
            color: variables.$text-secondary;
        }

        &.selected {
            color: variables.$text-accent;

            &:hover {
                color: variables.$text-primary;
            }
        }
    }
}
