@use '@/styles/variables';

.ktsArrowDownIcon {
    path {
        fill: currentColor;
    }
}

.ktsArrowIcon {
    &--primary path {
        fill: variables.$text-primary;
    }

    &--secondary path {
        fill: variables.$text-secondary;
    }

    &--accent path {
        fill: variables.$text-accent;
    }
}
