@use '@/styles/variables';

.ktsCheckBox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;

    &Input {
        display: none;
    }

    &Box {
        width: 40px;
        height: 40px;
        background-color: variables.$checkbox-bg;
        border: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &:hover {
            border: 1px solid variables.$checkbox-border-hover;
        }
    }

    &:has(&Input:disabled) &Box {
        background-color: variables.$checkbox-bg-disabled;
        border: 1px solid variables.$checkbox-border-disabled;
    }

    &Icon {
        width: 40px;
        height: 40px;
        margin: -1px;
    }
}
