@use '@/styles/variables' as *;

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 65px;
    padding-bottom: 113px;

    &__btn {
        width: 38px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;

        font-weight: 500;
        font-size: 18px;
        line-height: 180%;
        letter-spacing: 0;

        cursor: pointer;
        text-decoration: none;
        color: $content-bg;

        &:not(.pagination__btn_active) {
            background-color: $content-bg;
            color: $text-primary;

            &:hover {
                background-color: $button-primary-bg-disabled;
            }
        }

        &_active {
            background-color: $button-primary-bg;
        }
    }

    &__arrowLeft {
        padding-right: 15px;
    }

    &__arrowRight {
        padding-left: 15px;
        transform: scaleX(-1);
    }
}
