@use '@/styles/variables';

.inputWithButton {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 24px;

    button {
        white-space: nowrap;
    }
}

.headerBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    padding-top: 100px;
    padding-bottom: 50px;
}

.headerBlockTitle {
    font-weight: 700;
    font-size: 44px;
    line-height: 48px;
    letter-spacing: 0;
    color: variables.$text-primary;
}

.headerBlockSubtitle {
    width: 653px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    color: variables.$text-secondary;
}

.multiDropdown {
    width: 300px;
    padding-top: 24px;
    padding-bottom: 48px;
}

.totalProducts {
    display: flex;
    align-items: center;
    gap: 24px;

    h2 {
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: 0;
        color: variables.$text-primary;
    }

    span {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0;
        color: variables.$text-accent;
    }
}

.productCards {
    padding-top: 35px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px 79px;
}

.pageSelector {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 65px;
    padding-bottom: 113px;

    &Btn {
        width: 38px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;

        font-weight: 500;
        font-size: 18px;
        line-height: 180%;
        letter-spacing: 0;

        cursor: pointer;
        text-decoration: none;
        color: variables.$content-bg;

        &:not(.pageSelectorBtnActive) {
            background-color: variables.$content-bg;
            color: variables.$text-primary;

            &:hover {
                background-color: variables.$button-primary-bg-disabled;
            }
        }

        &Active {
            background-color: variables.$button-primary-bg;
        }
    }
}

.arrowLeft {
    padding-right: 15px;
}

.arrowRight {
    padding-left: 15px;
    transform: scaleX(-1);
}
